body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.headerTitle {
    font-family: 'Rubik';
    font-size: 48px;
    text-align: center;
    background-color: black;
    color: white;
    height: 65px;
    z-index: 999;
    box-shadow: 0px 5px 5px gray;
}

.mainGameContainer {
    flex: 1;
    align-content: center;
}
.InputContainer {
    border-style: ridge;
    border-width: 20px;
    border-color: black;
    width: 25%;
    margin: auto;
    height: 400px;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgray;
    animation-name: InputAppear;
    animation-duration: 3s;
}

@keyframes InputAppear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.InputContainer label {
    font-size: 50px;
    font-family: 'Josefin Sans';
    font-weight: 700;
}

.InputContainer input{
    border: none;
    background-color: ghostwhite;
    border-radius: 20px;
    width: 70%;
    height: 40%;
    

}

.playerInputForm {
    display: flex;
    flex-direction: column;
}

.InputSplit {
    margin-bottom: 15px;
    
}

#submitButton {
    width: 30%;
    height: 40px;
    margin: auto;
    border-radius: 0;
    margin-top: 20px;
    background-color: gray;
   
}

#submitButton:hover {
    background-color: green;
    cursor: pointer;
}

.StampContainer {
    position: absolute;
    display: flex;
    height: 400px;
    width: 99.7%;
    top: 30%;
    justify-content: space-between;
    align-content: center;
    visibility: hidden;
    
}
#chooseStampText {
    position: absolute;
    font-family: "Rubik";
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    
}
.XBox, .OBox {
    position: relative;
    border-style: ridge;
    border-width: 20px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin: auto;
    transition: all 0.4s;
    
}

.XBox{
    right: 120px;
    opacity: 0;
}

.OBox {
    left: 120px;
    opacity: 0;
}
.XBox:hover {
    border-color: green;
    cursor: pointer;
    width: 205px;
    height: 205px;
    background-color: rgb(62, 235, 134);
    
}

.OBox:hover {
    border-color: red;
    cursor: pointer;
    width: 205px;
    height: 205px;
    background-color: rgb(241, 84, 84);
}
#xImage {
    height: 70%;
    width: 70%;
}

.NameHolder {
    position: absolute;
    display: flex;
    height: 400px;
    width: 99.7%;
    top: 30%;
    justify-content: space-between;
    align-content: center;
    visibility: hidden;
}

.oContainer, .xContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    border-style: ridge;
    border-width: 20px;
    background-color: white;
    height: 150px;
    width: 150px;
    margin: auto;
    top: 40px;
}

.oContainer{
    right: 200px;
    border-color: red;
}

.xContainer{
    left: 200px;
    border-color: green;
}

.ticTacToeGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    visibility: hidden;
}

.resetGame {
    position: absolute;
    background-color: white;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    border-radius: 20px;
    border-style: solid;
    visibility: hidden;
    text-align: center;
}

.ResetButton {
    position: relative;
    top: 60%;
    width: 30%;
    height: 20%;
}

@keyframes textMove {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes textMovePostSelection {
    0% {opacity: 100;}
    100% {opacity: 0;
        transform: translateY(10%);}
}

@keyframes imageDisappear {
    0% {opacity: 100;}
    100% {opacity: 0; }
}

@keyframes xMove {
    0% {opacity: 0;}
    100% {opacity: 100;
        transform:translateX(130%)}
}

@keyframes xMovePostSelection {
    0% {opacity: 100;
        transform: translateX(0%);}
    100% {opacity: 0;
        transform:translateX(-80%)}
}


@keyframes oMove {
    0% {opacity: 0;}
    100% {opacity: 100;
        transform:translateX(-130%)}
}

@keyframes oMovePostSelection {
    0% {opacity: 100;
        transform: translateX(0%);}
    100% {opacity: 0;
        transform:translateX(80%)}
}

@keyframes resetGamePopUp {
    0% {transform: scale(0);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
